.grid-stack-item {
    box-shadow: 0 0 10px #000;
    margin: 10px 0;
}

.ag-header-row-column {
    background: #001B71;
    color: #fff;
}

.btn {
    background: #5ABD4E;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
}